* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    padding:0px;

    font: 14pt Arial, sans-serif; 
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
#task, .step, .field {
    width: 100%;
    height: 85%;
    flex-basis: fill;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.promptDiv, .consentDiv, .formDiv, .digitSpanDiv, .preambleDiv, #timeoutPage, #loginForm {
    height: 70%;
    width: 100%;
    max-width: 700px;
    display: table;
    padding: 0px;
    margin: auto;
}
.controls {
    height: 5%;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 80px;
}
#blurb {
    margin: 1cm;
    max-width: 800px;
    margin: auto;
}
.stepTitle {
    display: table-row;
    text-align: center;
    vertical-align: 2px;
    padding: 0px;
    flex-grow: 1;
    font-size: 16pt;
    font-style: italic;
}
.prompt {
    display: table-row;
    text-align: center;
    vertical-align: 2px;
    padding: 0px;
    flex-grow: 2;
    font-size: 20pt;
}
.transcript {
    display: table-row;
    padding: 0px;
    text-align: center;
    font-size: 32pt;
    vertical-align: middle;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
}
.transcript p {
    max-width: 800px;
    margin: auto;
    padding: 5px;
    border: 1px solid black;
    background: white;
}

.transcript img {
    margin: auto;
    max-width:100%;
    max-height:100%;
}

.transcript video {
    margin: auto;
    max-width:100%;
    max-height:100%;
}

.prompt h1 {
    font-size: 16pt;
}
q {
    font-weight: bold;
    font-size: 24pt;
}
.inactive {
    opacity: 0;
}
.active {
    opacity: 1;
}

progress {
    width: 100%;
}

#uploadProgress {
    width: 80%;
}
#overallProgress {
    width: 80%;
    opacity: 0.4;
}
.form_row {
    display: table-row;
}
.form_row .form_label, .form_value, .form_prompt, .form_description, .form_options {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.many_form_options label {
    font-size: 15pt;
}
.form_label {
    font-weight: bold;
}
.form_description {
    font-style: italic;
}
.nextButton, #ok {
    border: 2px solid black;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 10px;
    background: #EEEEEE;
}
.nextButton, .nextLabel, .nextIcon {
    vertical-align: middle;
    cursor: default;
}

#indicator {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    height: 32px;
    position: relative;
    top: -69%;
}
#countdown {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    left: 32px;
    position: relative;
    left: 16px;
    top: -4px;
}
#recording {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    position: relative;
    left: -16px;
    top: -4px;
}

.blinking {
    opacity: 1;
    -webkit-animation: blink 1s step-end infinite;
    -moz-animation: blink 1s step-end infinite;
    -o-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  67% { opacity: 0 }
}

@-moz-keyframes blink {
  67% { opacity: 0 }
}

@-o-keyframes blink {
  67% { opacity: 0 }
}

@keyframes blink {
  67% { opacity: 0 }
}

#participantId {
    font-weight: bold;
    font-size: 22pt;
}

input.signature {
    font-style: italic;
    font-size: 14pt;
}

div.signature {
    font-style: italic;
    font-size: 14pt;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: black 1px solid;
    padding: 10px;
    width: 40%;
}

div.datestamp {
    font-style: italic;
    padding: 10px;
    width: 40%;
}

#footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    text-align: center;
    z-index: 3;
    /* opaque background... background: inherit;*/
}
#footer, #underfooter, .underfooter {
    height: 5%;
}
#uploadermessage {
    position: absolute;
    width: 100%;
}

#task {
    display: table;
}
#status {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#loginForm {
    height:100%;
    width:100%;
}
#loginPrompt {
    text-align: center;
    vertical-align: middle;
}

#controlPanel .ui-panel-inner {
    padding: 0px;
    
}

.controlPanelButton {
    position: fixed;
    margin-top: 0px;
    top: 5px;
    left: 5px;
    z-index: 3;
}

.ui-header .controlPanelButton {
    top: 10px;
    left: 8px;
}

#digitsInput {
    text-align: center;
}
#digits {
    display: block;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 24pt;
    letter-spacing: 7px;
}

@keyframes fadein {
    from {
	opacity: 0.25;
    }
    to {
	opacity: 1;
    }
}
.enabled {
    animation-name: fadein;
    animation-duration: 1s;
    opacity: 1;
}
.disabled {
    opacity: 0.25;
}

@media all and (orientation:landscape) and (max-height:600px) {
    .promptDiv, .consentDiv, .formDiv, .digitSpanDiv, .preambleDiv { height: 70%; }
    .controls { height: 15%; }
    #footer { height: 15%; }
}

@media all and (min-height:750px) {
    .form_row, .form_row .form_label, .ui-radio label, .prompt {
	font-size: 15pt;
    }
    .many_form_options label {
	font-size: 12pt;
    }
    .prompt div, .prompt p, .transcript {
	padding-left: 50px;
	padding-right: 50px;
    }
}
